

    <div class="social-container">
        <footer class="social-icons">
            <a href="https://www.linkedin.com/in/everton-peres-bb6694101/" target="_blank" class="fab fa-linkedin fa-2x"></a>
            <a href="https://github.com/aquinoefomm" target="_blank" class="fab fa-github fa-2x"></a>
        </footer><br>
    </div>
    <div class="footer-container">
    <p>Developed by Everton de Aquino Peres</p>
</div>
