<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="cadastro">
        <h1>Welcome to the IT career manager!</h1>
        <div class="caixa-botoes">
            <input class="botao" type="button" onclick="location.href='login';" value="Login"  style="margin-top: 5px;"/>
            <input class="botao" type="button" onclick="location.href='signup';" value="Sign up" />
        </div>
    </div>
    <%- include('footer.ejs') %>
</body>
</html>